# Project-Specific Context
GTM_ID=
# Note: GSC_SITE should match the property URL in Google Search Console exactly
GSC_SITE=sc-domain:
GA4_PROPERTY_ID=
GA4_MID=
# Google Business Profile - 
BUSINESS_ACCOUNT_ID=
BUSINESS_LOCATION_ID=
BUSINESS_LOCATION_ID2=
